/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
/******************************************
/* LAYOUT
/*******************************************/
  img {
    display: block;
    margin: 0 auto;
    width: 25%;
  }

  h1 {
    display: flex;
    justify-content: start;
    border: 1px black solid;
    border-radius: 30px;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px black solid;
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    height: 300px;
  }
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/